body {
  margin: 0;
  font-family: Arial, sans-serif;

}



@media (max-width: 768px) {

  p {

    color: #7d7d7d;
  }

  /* HEADER MENU*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: white;
    margin-right: 30px;
    margin-left: 30px;

  }

  .logo img {
    width: 200px;
    height: auto;


  }

  #menu-toggle {
    display: none;

  }

  .menu-icon {
    cursor: pointer;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-icon span {
    display: block;
    height: 3px;
    background: #252B46;
    border-radius: 2px;
    transition: 0.3s;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    transition: 0.3s;

  }

  nav div {

    display: flex;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 1rem 0;
    font-size: 18px;
    letter-spacing: 2px;
  }

  nav a:last-of-type {

    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 130px 10px 130px;
    /* top right bottom left */
  }

  hr {

    width: 20rem;
    height: 1px;
    border: none;
    font-weight: 100;
    background-color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;

  }

  #menu-toggle:checked~nav {
    right: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 9, 46, 0.877);

  }

  nav img {

    margin-right: 30px;
    color: #ffffff;
    filter: brightness(0) invert(1);
    margin-bottom: 1.2rem;

  }

  .close {
    margin-top: 5px;
    margin-left: 140px;
    width: 15px;
    height: 15px;
  }



  /*HERO SECTION*/

  main div {

    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .first-feature img {

    margin-top: 50px;
    width: 450px;
    height: auto;

  }

  .first-feature h1 {

    color: #323232;

  }

  .first-feature p {

    margin-bottom: 25px;
  }

  .chrome-button {

    color: white;
    padding: 15px;
    border: none;
    background-color: rgb(87, 107, 255);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;

  }

  .firefox-button {

    color: rgb(0, 0, 0);
    padding: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    margin-left: 5px;

  }

  /* FEATURES SECTION */

  .features {

    margin-top: 100px;

  }

  .features p {

    margin-bottom: 25px;
  }


  .tabs-section label {

    font-size: 20px;
    color: #7d7d7d;

  }

  input[type="radio"] {

    display: none;
  }

  .tab-content {

    display: none;
    margin-top: 3rem;

  }

  input[type="radio"]:checked+label {

    border-bottom: 3px solid orange;
    color: #252B46;
    padding-bottom: 14px;

  }

  #simpleBookmarking:checked~#firstOptionContent,
  #speedySearching:checked~#content-speedy,
  #easySharing:checked~#content-easy {

    display: block;
  }

  .tab-content img {

    width: 400px;
    height: auto;
  }

  .tab-content h3 {

    font-size: 25px;

  }

  .download-section h2 {

    margin-top: 7rem;
  }



  .card {

    background: white;
    width: 280px;
    padding: 24px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  .card button {

    border-radius: 5px;
    border: none;
    padding: 15px 40px 15px 40px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(97, 100, 255);

  }

  /*FAQs QUESTIONS SECTION */

  .asked-questions-title {
    margin-top: 4rem;

  }

  .questions-container {

    max-width: 350px;
    width: 100%;
    margin: 30px auto;
    text-align: left;
    

  }

  .more-info-btn {

    display: inline-block;
    background: #4b5eff;
    color: white;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 7rem;
    
    


  }




}

@media (min-width: 1024px) {}