/*GLOBAL CSS */

body {
  margin: 0;
  font-family: Arial, sans-serif;

}

/*MEDIA QUERY MOBILE */

@media (max-width: 768px) {

  .desktop-nav {

    display: none;
  }

  p {

    color: #7d7d7d;
  }

  /* HEADER MENU*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: white;
    margin-right: 30px;
    margin-left: 30px;

  }

  .logo img {
    width: 200px;
    height: auto;


  }

  #menu-toggle {
    display: none;

  }

  .menu-icon {
    display: block;
    width: 25px;
    height: auto;
    cursor: pointer;
  }

  .menu-icon img {
    width: 100%;
    height: auto;
    display: block;
  }



  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    transition: 0.3s;

  }


  nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 1rem 0;
    font-size: 18px;
    letter-spacing: 2px;
  }

  nav a:last-of-type {

    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 130px 10px 130px;
  }

  hr {

    width: 20rem;
    height: 1px;
    border: none;
    font-weight: 100;
    background-color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;

  }

  #menu-toggle:checked~nav {
    right: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 9, 46, 0.877);

  }

  nav img {

    margin-right: 30px;
    color: #ffffff;
    filter: brightness(0) invert(1);
    margin-bottom: 1.2rem;

  }

  .close {
    margin-top: 5px;
    margin-left: 140px;
    width: 15px;
    height: 15px;
  }

  /*HERO SECTION*/

  main div {

    display: block;
    text-align: center;

  }


  .hero-section img {

    margin-top: 50px;
    width: 450px;
    height: auto;

  }

  .hero-text h1 {

    color: #323232;

  }

  .hero-text p {

    margin: 0 auto 25px;
    max-width: 350px;
    text-align: center;
  }

  .chrome-button {

    color: white;
    padding: 15px;
    border: none;
    background-color: rgb(87, 107, 255);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;

  }

  .firefox-button {

    color: rgb(0, 0, 0);
    padding: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    margin-left: 5px;

  }

  /* FEATURES SECTION */

  .tab-labels-desktop {

    display: none;
  }

  .features {

    margin-top: 100px;

  }

  .features p {

    margin: 0 auto 25px;
    max-width: 350px;
    text-align: center;
  }


  .tabs-section label {

    display: inline-block;
    width: 200px;
    font-size: 20px;
    color: #7d7d7d;
    text-align: center;
    padding-bottom: 1rem;



  }

  input[type="radio"] {

    display: none;
  }


  .tab-content {

    display: none;
    margin-top: 3rem;

  }

  .tab-content button {

    display: none;
  }


  #simpleBookmarking:checked~#firstOptionContent,
  #speedySearching:checked~#content-speedy,
  #easySharing:checked~#content-easy {

    display: block;
  }

  #simpleBookmarking:checked~.tab-labels-mobile label[for="simpleBookmarking"],
  #speedySearching:checked~.tab-labels-mobile label[for="speedySearching"],
  #easySharing:checked~.tab-labels-mobile label[for="easySharing"] {

    border-bottom: 3px solid orange;


  }

  .tab-labels-mobile hr {

    margin-top: -0.10rem;
  }


  .tab-content img {

    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .tab-content h3 {

    font-size: 25px;

  }

  /* MOBILE DOWNLOAD SECTION*/

  .download-section h2 {

    margin-top: 4rem;
  }

  .download-section p {

    margin: 0 auto 25px;
    max-width: 350px;
    text-align: center;
  }


  .card {

    background: white;
    width: 280px;
    height: auto;
    padding: 24px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
  }

  .logo-card {

    margin-top: 3rem;
    width: 100%;
    max-width: 150px;

  }


  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  .card button {

    border-radius: 5px;
    border: none;
    padding: 15px 40px 15px 40px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(97, 100, 255);

  }

  /* FAQs SECTION MOBILE */

  .first-hr-faqs {
    display: none;
  }

  .asked-questions-title {
    margin-top: 4rem;
    text-align: center;
    margin: 0 auto 25px;
    max-width: 350px;
    text-align: center;
  }


  .questions-container {
    max-width: 70%;
    width: 100%;
    margin: 30px auto;
    text-align: left;
  }

  .questions-container summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .arrow-icon {
    width: 16px;
    height: 12px;
    transition: transform 0.3s;
  }

  details[open] .arrow-icon {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(47%) sepia(85%) saturate(2757%) hue-rotate(358deg) brightness(102%) contrast(105%);
  }

  .questions-container hr {
    width: 100%;
    max-width: 22rem;
  }

  .more-info-btn {
    display: block;
    background: #4b5eff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin: 1.5rem auto 0 auto;
    max-width: 200px;
  }


  /* SIGN UP SECTION */

  .sign-up-section {

    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-color: #4b5eff;
    color: white;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .sign-up-section p {
    color: white;
  }

  .sign-up-section h2 {

    margin: 0 auto 25px;
    max-width: 350px;
    text-align: center;


  }

  .sign-up-section button {

    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(253, 69, 28);
    color: #ffffff;
    width: 75%;
    font-weight: bold;

  }

  .sign-up-section input {

    width: 70%;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }


  /* FOOTER */

  footer {

    background-color: #33323d;
    color: white;
    padding-bottom: 3rem;

  }

  .links {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

  }

  .links img {

    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 200px;
    height: auto;
    color: #ffffff;
    filter: brightness(0) invert(1);


  }


  .image-links {

    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;


  }




}

/* DESKTOP STYLES***********************************************/

@media (min-width: 768px) {


  .menu-icon,
  #menu-toggle,
  .mobile-nav {
    display: none;
  }

  p {

    color: rgb(172, 172, 172);
  }

  header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: white;
    margin: 0 auto;
  }

  .desktop-nav {

    display: flex;

  }

  .logo img {

    margin-left: 15rem;
    width: 140px;
    height: auto;

  }

  .desktop-nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-right: 19rem;

  }

  .desktop-nav a {

    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 12px;
  }

  .desktop-nav ul li a.login-button {

    font-size: 9px;
    color: rgba(255, 255, 255, 0.742);
    border: none;
    background-color: rgb(255, 77, 64);
    border-radius: 3px;
    padding: 9px 22px 9px 22px;
    font-weight: bold;

  }

  .desktop-nav a:hover {

    color: rgb(255, 111, 0);
  }


  .desktop-nav a.login-button:hover {
    background-color: #faf9f9;
    box-shadow: inset 0 0 0 1px orange;
    color: rgb(255, 134, 4);
  }



  /*HERO SECTION DESKTOP */

  .hero-section {

    display: flex;
    margin-left: 9rem;
    align-items: center;


  }

  .hero-text {

    order: 1;
    margin: 0 auto 25px;
    max-width: 450px;

  }

  .hero-text h1 span {

    font-size: 40px;

  }

  .hero-img {

    order: 2;
    margin-top: 2rem;
    margin-right: 9rem;

  }

  .hero-img img {

    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .chrome-button {

    color: white;
    padding: 15px;
    border: none;
    background-color: rgb(87, 107, 255);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;

  }

  .firefox-button {

    color: rgb(0, 0, 0);
    padding: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    margin-left: 5px;

  }

  .chrome-button:hover {

    cursor: pointer;
    background-color: white;
    color: rgb(74, 74, 255);
    box-shadow: inset 0 0 0 1px rgb(74, 74, 255);

  }

  .firefox-button:hover {

    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0);

  }




  /*FEATURES SECTION DESKTOP*/

  .features {

    margin-top: 2rem;
    text-align: center;

  }

  .features p {

    margin: 0 auto 25px;
    max-width: 450px;
  }

  .intro-features {

    margin-bottom: 4rem;
  }



  input[type="radio"] {

    display: none;
  }


  .tab-content {

    display: none;
    margin-top: 3rem;
    margin-bottom: 6rem;

  }

  .tab-content div {

    text-align: left;
    align-content: center;
  }

  .tab-content p {


    max-width: 350px;
  }

  .tab-content h3 {

    font-size: 30px;

  }

  .tab-content button {

    cursor: pointer;
    color: white;
    padding: 15px;
    border: none;
    background-color: rgb(87, 107, 255);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
  }


  #simpleBookmarking:checked~#firstOptionContent,
  #speedySearching:checked~#content-speedy,
  #easySharing:checked~#content-easy {

    display: flex;
    justify-content: center;
    gap: 100px;

  }

  #simpleBookmarking:checked~.tab-labels-desktop label[for="simpleBookmarking"],
  #speedySearching:checked~.tab-labels-desktop label[for="speedySearching"],
  #easySharing:checked~.tab-labels-desktop label[for="easySharing"] {
    border-bottom: 3px solid orange;


  }

  .tab-labels-mobile {

    display: none;
  }



  .tab-labels-desktop label {

    display: inline-block;
    width: 180px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2rem;

  }

  .tab-labels-desktop label:hover {

    color: rgb(255, 111, 0);
  }

  hr {
    width: 34rem;
    margin-top: -0.10rem;
  }





  /* DOWNLOAD SECTION */

  .download-section {

    text-align: center;
    margin-bottom: 3rem;

  }

  .download-section p {

    margin: 0 auto;
    max-width: 500px;
  }


  .card {

    background: white;
    width: 260px;
    padding: 50px 20px 60px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2rem;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

  }


  .card button {

    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 15px 40px 15px 40px;
    margin-top: 1rem;
    color: white;
    background-color: rgb(97, 100, 255);

  }

  .card-container .card:nth-child(2) {

    margin-top: 5rem;
  }


  .card-container .card:nth-child(3) {
    margin-top: 10rem;
  }

  .card button:hover {

    cursor: pointer;
    background-color: white;
    color: rgb(74, 74, 255);
    box-shadow: inset 0 0 0 1px rgb(74, 74, 255);

  }


  /* FAQs SECTION DESKTOP */
  .FAQs-section {
    text-align: center;

  }

  .FAQs-section p {

    margin: 0 auto 25px;
    max-width: 450px;
  }

  .asked-questions-title {
    margin-top: 4rem;
  }

  .questions-container {
    max-width: 550px;
    width: 100%;
    margin: 50px auto;
    text-align: left;
  }

   .questions-container p {
    margin-top: 0.8rem;
    max-width: 550px;
    width: 100%;
    text-align: left;
  }


  .questions-container hr {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: 35rem;
  }

  .more-info-btn {
    cursor: pointer;
    display: inline-block;
    background: #4b5eff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 14rem;
  }

  .questions-container summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
  }

  .questions-container summary:hover {
    color: #ff9b04;
  }

  .arrow-icon {
    width: 18px;
    height: 12px;
    transition: transform 0.3s;
  }

  details[open] .arrow-icon {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(47%) sepia(85%) saturate(2757%) hue-rotate(358deg) brightness(102%) contrast(105%);

  }

  /* SIGN UP SECTION DESKTOP */

  .sign-up-section {

    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-color: #4b5eff;
    color: white;
    padding-top: 3rem;
    padding-bottom: 5rem;
    align-items: center;
    text-align: center;
  }

  .sign-up-section p {
    color: white;
  }

  .sign-up-section h2 { 

     margin: 0 auto 25px;
    max-width: 300px;
  }

  .sign-up-button {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    width: 100%;
    max-width: 500px;
  }

  .sign-up-button input {
    flex: 1;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 4rem;
    border-radius: 4px;
    border: none;
    text-align: left;
  }


  .sign-up-button button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(253, 69, 28);
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
  }

  .sign-up-button button:hover {

    background-color: #faf9f9;
    color: rgb(255, 134, 4);
    box-shadow: inset 0 0 0 1px rgb(255, 134, 4);


  }


  /* FOOTER */

  footer {

    display: flex;
    background-color: #33323d;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2rem;



  }

  .links {

    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 15rem;



  }

  .links img {


    width: 150px;
    height: auto;
    color: #ffffff;
    filter: brightness(0) invert(1);


  }


  .image-links {

    display: flex;
    margin-right: 13rem;

  }

  .image-links img {

    width: 20px;
    height: auto;
    margin-right: 2rem;
  }

  .links a {

    margin-left: 0.5rem;
    color: #b7b7b7;

  }

  .links a:hover {

    color: orange;
    cursor: pointer;
  }

  .image-links img:hover {

    filter: brightness(0) saturate(100%) invert(47%) sepia(85%) saturate(2757%) hue-rotate(358deg) brightness(102%) contrast(105%);
    cursor: pointer;
  }


}